@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


h1 { font-family:"abril fatface"; color: rgb(226, 43, 156); font-weight: 300;}
body{font-family: "Montserrat";}


.center {
    display: flex;
    justify-content: center;
}

.center img{ width: 70%;}


.marge { margin-left: 15%; margin-right: 15%; }
h2 { color: rgb(40, 40, 153);}
h3 { color: rgb(40, 40, 153);}
.propos { color: rgb(226, 43, 156)}
p{ margin-bottom: 20px;}
section { 
    display: flex;
}
.img img{ 
    width: 60%;
}
.text{ width: 90%;}

.img { 
    display: flex;
    justify-content: right;
}
.reseaux { 
    display: flex;
    justify-content: space-between;
}

.reseaux a {width: 30%; height: 40px; padding: 5px 10px; margin-right: 10px; display: flex ;
justify-content: space-around; align-items: center;}  
.twitter { background-color: #47ACDF; color: white !important;}
.linkedin { background-color: #1275B1; color: white;}
.medium { background-color: black; color: white;}

.reseaux a img { width: 22%;} 